body {
	background-color: #f5f5dc;
	color: #2e0000;
	font-family: verdana, arial, sans-serif;
}
header {
	background-color: #d2b48c;
}
nav {
	font-weight: bold;
}
nav a {
	text-decoration: none;
}
h1 {
	font-family: Georgia, "Times New Roman", serif;
}
h2 {
	font-family: Georgia, "Times New Roman", serif;
}
h3 {
	background-color: #e6d6a9;
	text-transform: uppercase;
}
dt {
	font-weight: bold;
}
ul {
	list-style-image: url("../javajam-images/marker.gif");
}
footer {
	background-color: #d2b48c;
	color: #000000;
	font-size: .60em;
	font-style: italic;
	text-align: center;
}